@model IEnumerable<WebQLCuaHangThucPham.Models.PTTT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3 class="card-title w-25"></h3>
            <div class="d-flex justify-content-end w-75">
                <a href="/admins/PTTTs/create">Thêm mới</a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body ">
            <table class=" table  table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaPTTT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenPT)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaPTTT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenPT)
                        </td>

                        <td class="text-center tac-vu ">
                            <a href="/admins/PTTTS/edit/@item.MaPTTT">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a href="/admins/PTTTs/Delete/@item.MaPTTT">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

